* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 30px;
}
body {
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: start;
}
.container {
  position: relative;
  width: 450px;
  height: 800px;
  /* border-radius: 20px; */
  border: 1px solid black;
  background-color: white;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
  background-color: blueviolet;
  margin-top: 20px;
}
.parametr {
  width: 50px;
  height: 50px;
  margin: 20px;
}
.coin_card {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 150px;
  gap: 5px;
  margin: 20px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 25px;
  box-shadow: 1px 1px 1px 1px;
  color: white;

  padding: 0;
}

.coin2 {
  top: 35px;
  /* right: 100px; */
  transform: rotateZ(2px);
  /* border: 1px solid red; */
  /* display: none;/ */
  width: 30px;
  height: 30px;
  margin: 20px;
  /* transform: rotateY(80deg); */
  animation: tanga1 5s ease-in-out infinite;
}
@keyframes tanga1 {
  0% {
    width: 30px;
    height: 30px;
    right: 100px;
  }
  50% {
    transform: rotateY(360deg);
    right: 97px !important;
  }

  100% {
    width: 30px;
    height: 30px;
    right: 100px;
  }
}

.main_parametr {
  width: 200px;
  height: 200px;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border-radius: 20px;
  margin-top: 150px;
  /* margin-left: 40px; */
  filter: none !important;
  z-index: 9;
}
.musics {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.music_icon {
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
